$orange: #CF7C2F;
$beige: #DAC29E;
$brown: #451E0D;
$black: #190805;

%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
%roboto-500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
%roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

%robotoc-400 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
%robotoc-700 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

%fira-400 {
  font-family: 'Fira Code', sans-serif;
  font-weight: 400;
}
%fira-700 {
  font-family: 'Fira Code', sans-serif;
  font-weight: 700;
}